<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.jg.test.lesson06.dao.EntrantDAO">
 	<insert id="insertEntrant" parameterType="map">
 		INSERT INTO `entrant`
 		(
 			`name`
 			,`license`
 			,`score`
 		)
 		VALUES
 		(
 			#{name}
 			,#{license}
 			,#{score}
 		)
 		
 		
 	</insert>
 	
 	<select id="selectEntrant" resultType="com.jg.test.lesson06.model.Entrant">
 		SELECT
 			`id`
 			,`name`
 			,`license`
 			,`score`
 		FROM
 			`entrant`
 	
 	</select>
 	
 	<select id="selectCountName" parameterType="string" resultType="int">
 		SELECT
 			count(*)
 		FROM
 			`entrant`
 		WHERE
 			`name` = #{name}
 	</select>
 	
 	<delete id="deleteEntrant" parameterType="int">
 		DELETE
 		FROM
 			`entrant`
 		WHERE
 			`id` = #{id}
 	</delete>
 </mapper>